# Configuration de la base de données PostgreSQL
# Remplacez les valeurs par vos propres paramètres de connexion
DATABASE_URL="postgresql://username:password@localhost:5432/mini_pokemon?schema=public"

# Configuration du serveur
PORT=3000
NODE_ENV=development


